*.o
*.lo
*.la
*.a
*.exe
*.pc
.auto
.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
config.h
config.log
config.status
configure
libtool
stamp-*
*-stamp
src/a52dec
src/extract_a52
test/compare
